h1 {
    font-family: "Lobster", cursive;
    font-size: 35px;
    color: #444;
}

h2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 30px;
    color: #334;
}

h3 {
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
    color: #333;
}

p {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 20px;
    color: #333;
}

body {
    background-color: #e0e8ff;
}
