h1 {
    font-family: "Lobster", cursive;
    font-size: 60px;
    color: white;
}

h2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 60px;
    color: slategrey;
}

h3 {
    font-family: "Courier New", Courier, monospace;
    font-size: 50px;
    color: rgb(149, 149, 156);
}

p {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 20px;
    color: #dddde0;
}

body {
    background-image: linear-gradient(to right, black, 10%, gray, 90%, slategrey);
}